html {
	overflow: hidden;
}
body {
	background-color: #191942;
}

.main-container {
	display:flex;
	flex-direction: row;
	justify-content: align-left;
	align-items: center;
}

.left {
	background-image: url("energybackgroundsmall.png");
	background-repeat: no-repeat;
    	background-position: left top;
	height: 100vh;
	width: 28vw;
	background-size:28vw 100vh;
}

.left img {
	height: 50vh;
	display: block;
	margin: 25vh auto;
}

